@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.selected {
    background: #e7e7e7;
    border-radius: 5px;
}

input#submit {
    width: 200px;
}


@media (max-width: 370px) {
    input#submit {
        width: 150px;
    }
}