{% extends 'base.html' %}
{% block title %}Pagina de registro{% endblock %}

{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">{% endblock %}
{% set current_page = 'register' %}

{% block main %}

<main>
    <div class="form">
        <form action="{{ url_for('register') }}" method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            {{ form.name }}
            {{form.username}}
            {{ form.email }}
            {{ form.password }}
            {{ form.confirm_password }}
            {{ form.submit }}

            {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    {% for category, msg in msgs %}
                        <div id="popup">
                            <p class="{{ category }}" >{{msg}}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
</main>

<script src="{{ url_for('static', filename='scripts/register.js') }}"></script>
{% endblock %}