{% extends 'base.html' %}
{% block title %}User Page{% endblock %}

{% set current_page = 'user_page' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_page.css') }}"> {% endblock %}

{% block nav %}
<li class="nav-item active">
  <a href="{{ url_for('user_page') }}" class="nav-link active {{ 'selected' if current_page == 'user_page' else '' }}">Tasks</a>
</li>
<li class="nav-item active">
  <a href="{{ url_for('profile') }}" class="nav-link active">Profile</a>
</li>
<li class="nav-item active">
  <a href="{{ url_for('logout') }}" class="nav-link active">Logout</a>
</li>
{% endblock %}


{% block main %}
<main class='d-row justify-content-between'>
  <!-- Button trigger modal -->
  <div class="container d-row options">
    <div class="container d-row options">
      <br>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        New
      </button>

      <form action="{{ url_for('user_page') }}" method="GET">
        <select style='cursor: pointer;' class='form-select' name="filter" id="filter" onchange='this.form.submit()'>
          <option {% if op=='0' %}selected{% endif %} value="0">No Filter</option>
          <option {% if op=='1' %}selected{% endif %} value='1'>Completed</option>
          <option {% if op=='2' %}selected{% endif %} value='2'>Not Completed</option>
        </select>
      </form>
    </div>
  </div>


  <br>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('user_page') }}" method="POST">
            {{form.csrf_token()}}
            {{form.title(class='form-control')}}
            <br>
            {{form.description(class='form-control')}}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if items %}
  {% for item in items %}
  <div class="container shadow p-3 mb-5 bg-body rounded">
    <div class="card">
      <div class="card-body">
        <h2>{{item.title|striptags}}</h2>
        <hr>
        <p>{{item.description|striptags}}</p>
        <hr>
        {% if item.completed == False %}
        <form action="{{ url_for('complete_task') }}" method="POST">
          <input type="hidden" name="complete_task_id" value="{{item.id}}">
          <input type="hidden" name="complete_value" value="{{item.completed}}">
          <button class="btn btn-success" type="submit">Complete</button>
        </form>
        {% else %}
        <p>Task completed</p>
        {% set tc = True%}
        {% endif %}

        <hr>
        <p>created at: {{item.created_at.strftime("%d/%m/%y")}}</p>
      </div>
      <div class="container">
        <form id="task-form" action="{{ url_for('delete_item') }}" method="POST">
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <button class="btn btn-danger" type="button" onclick="submitFormDelete()">Delete</button>
          <button type="button" class="btn btn-primary" {% if tc==True %}disabled{% endif %} data-bs-toggle="modal"
            data-bs-target="#exampleModalEdit{{item.id}}">
            Edit
          </button>
        </form>
        <br>
      </div>
      <!-- Button trigger modal -->
      <div class="container">

      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalEdit{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Your Task</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{{ url_for('edit_item') }}" method="POST">
                {{form.csrf_token()}}
                <input class='form-control' type="text" name="title" value="{{item.title}}">
                <input type="hidden" name='item_id' value={{item.id}}>
                <br>
                <textarea class="form-control" id='textarea' required name="description"
                  autocomplete="off">{{item.description}}</textarea>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  {% if op == 1 %}
  <div>
    <p class="text-secondary">No Completed Tasks</p>
  </div>
  {% elif op == 2 %}
  <div>
    <p class="text-secondary">No Incomplete Tasks</p>
  </div>
  {% elif op == 0 %}
  <div>
    <p class="text-secondary">No Tasks</p>
  </div>
  {% else %}
  <div>
    <p class="text-secondary">No Tasks</p>
  </div>
  {% endif %}
  {% endif %}
  {% with messages = get_flashed_messages(with_categories=True)%}
  {% if messages %}
  {% for category, msg in messages %}
  <div class="popup" id="popup">
    <p class="{{ category }}">{{msg}}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</main>

<script src="{{ url_for('static', filename='scripts/user_page.js') }}"></script>
{% endblock %}